.notifications {
  border: 2px dashed #e1484c;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.notifications p {
  margin: 0;
  font-weight: bold;
}

.notifications ul {
  margin: 10px 0 0 0;
  padding-left: 20px;
}

.notifications li[data-priority='default'] {
  color: blue;
}

.notifications li[data-priority='urgent'] {
  color: red;
}
